*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

/* navbar hamburguesa */

.menu-nav-hamburguesa{
    display: none;
  }
  
  .check-hamburguesa:checked  ~ .menu-nav-hamburguesa{
    display:block;
  }
  
  .check-hamburguesa {
    display: none;
  }
  
  .label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .label:hover{
    cursor: pointer;
    background-color: #692cd4;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  .check-hamburguesa:checked ~ .label {
    background-color: #692cd4;
  }

  .check-hamburguesa:checked ~ .label:hover{
      background-color: black;
  }
  
  .menu-nav-hamburguesa{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
  
  
  .item-nav-hamburguesa {
    display: block;
    background: white;
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 1em;
  }

  .item-nav-hamburguesa:hover{
      color: #692cd4;
  }
  
  .item-nav-hamburguesa a{
      text-decoration: none;
      color: inherit;
  }

  .navbar-hamburguesa{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    display: none;
  }

/* Navbar */

.navbar{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.container-logo{
    width: 20%;
    margin-left: 5%;
}

.logo-nav{
    width: 40%;
}

.logo-nav:hover{
    cursor: pointer;
}

.menu-nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.item-nav{
    font-family: sans-serif;
    font-size: 1em;
    color: white;
}

.item-nav a{
    color: inherit;
    text-decoration: none;
}

.item-nav a:hover{
    color: #692cd4;
}

.register-hud-nav{
    width: 20%;
    display: flex;
    list-style: none;
}

.item-register-nav{
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    padding: 3%;
    font-weight: bolder;
}

.item-register-nav a{
    color: inherit;
    text-decoration: none;
}

.item-register-nav:hover{
    cursor: pointer;
}

.register{
    border-radius: 5px 0px 0px 5px;
    background-color: #692cd4;
    color: black;
}

.register:hover{
    background-color: #692cd4;
    color: white;
    border: 1px solid white;
}

.login{
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    color: black;
}

.login:hover{
    background-color: white;
    color: #692cd4;
    border: 1px solid #692cd4;
}

/* Portada */

.container-portada{
    width: 100%;
}

.img-portada{
    width: 100%;
}

/* Historia */

.section-historia{
    width: 100%;
    background-color: #24262C;
}

.container-titulo-historia{
    width: 100%;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-historia{
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
}

.container-info-hisoria{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-img-historia{
    width: 40%;
}

.img-historia{
    width: 100%;
    margin: 3%;
}

.container-info-historia{
    width: 60%;
}

.subtitulo-historia{
    font-family: sans-serif;
    font-size: 2em;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #692cd4;;   
}

.info-historia{
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    margin-right: 3%;
}



/* Jugadores */

.section-jugadores{
    width: 100%;
    background-color: #24262C;
}

.container-titulo-jugadores{
    width: 100%;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-jugadores{
    color: #692cd4;
    font-family: sans-serif;
    font-size: 2.5em;
}

.container-jugadores{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-cards{
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-jugadores{
    width: 100%;
    border: 3px solid white ;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    background-color: #692cd4;
}

.img-jugador-card{
    width: 40%;
    padding: 5%;
}

.zakk{
    width: 53.2%;
    margin-left: -8%;
    margin-right: -7%;
}   

.container-info{
    width: 60%;
}

.item-card{
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.card-jugadores:hover { cursor: pointer; background: white; border:3px solid #692cd4; color: #692cd4;}

.card-jugadores:hover .item-card {color: #692cd4;}

/* Contacto */

.section-contacto{
    width: 100%;
    background-color: #24262C;
}

.container-titulo-contacto{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.titulo-contacto{
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
}

.container-form-contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.form-contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-form{
    border: 2px solid #692cd4 ;
    width: 100%;
    height: 50px;
    background-color: inherit;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px;
}

.item-form::placeholder{
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

.item-form:focus{
    outline: none;
}

.name{
    margin-bottom: 4%;
}

.email{
    margin-bottom: 4%;
}

.textarea{
    margin-bottom: 4%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 400px;
}

.btn-form{
    border: 2px solid #692cd4 ;
    width: 50%;
    height: 50px;
    background-color: inherit;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    font-weight: 600;
    margin-bottom: 10%;
}

.btn-form:hover{
    cursor: pointer;
    background-color: white;
    color: #692cd4;
}

/* Footer */

.container-footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socials{
    width: 15%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.p-footer-socials{
    color: #692cd4;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2%;
}

.links-footer-socials{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-socials {
    color: #692cd4;
    font-size: 2em;
}

.link-socials:hover{
    color: white;
}

.footer-top{
    border-radius: 100%;
    border: 2px solid white;
    width: 5%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top:hover{
    cursor: pointer;
}

.footer-top-arrow{
    color: white;
    font-size: 2em;
}

.footer-logo{
    width: 15%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-logo-footer{
    width: 80px;
}

.p-logo-footer{
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

/* Register y Login */

.body-register{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(./img/9z-fondo-new.jpg);
    background-attachment: fixed;
    background-position: center;
}

.container-register{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}

.titulo-register{
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 5%;
}

.socials-register{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.links-register{
    color: white;
    font-size: 2em;
}

.links-register:hover{
    cursor: pointer;
}

.google:hover{
    color: #F5341E;
}

.twitter:hover{
    color: #239CF5;
}

.facebook:hover{
    color: #1A79F6;
}

.p-register{
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 3%;
}

.input-register{
    width: 80%;
    height: 40px;
    margin-bottom: 5%;
    color: #692cd4;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    border: none;
}

.input-register:focus{
    outline: none;
}

.input-register::placeholder{
    color: #692cd4;
}

.btn-register{
    width: 50%;
    height: 35px;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    background-color: #692cd4;
    border: none;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5%;
}

.btn-register:hover{
    cursor: pointer;
    color: #692cd4;
    background-color: white;
    border: 1px solid #692cd4;
}

.p-register-login{
    margin-bottom: 5%;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

.p-register-login a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.p-register-login a:hover{
    color: #692cd4;
}

/* media queries */

@media (max-width: 769px){
    
    .navbar{
        display: none;
    }

    .navbar-hamburguesa{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 3%;

    }

    .titulo-historia{
        font-size: 2.3em;
    }

    .subtitulo-historia{
        font-size: 1.3em;
    }

    .info-historia{
        font-size: .75em;
        margin-bottom: 3%;
    }

    .titulo-jugadores{
        font-size: 2.3em;
    }

    .container-jugadores{
        flex-direction: column
    }
    
    .container-cards{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .card-jugadores{
        width: 45%;
    }

    .item-card{
        font-size: 1em;
    }

    .titulo-contacto{
        font-size: 2.3em;
    }
    .textarea{
        min-height: 150px;
        height: 150px;

    }

    .footer-socials{
        width: 25%;
    }

    .footer-top{
        width: 70px;
    }

    .footer-logo{
        width: 25%;
    }

    .img-logo-footer{
        width: 70px;
    }

    .p-logo-footer{
        font-size: .7em;
    }

    /* login */

    .register-form{
        width: 70%;
        height: auto;
    }

    .registro{
        height: auto;
    }
    

}

@media (max-width: 540px){
    .titulo-historia{
        font-size: 2em;
    }

    .container-img-historia{
        width: 60%;
    }

    .container-info-hisoria{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .subtitulo-historia{
        font-size: 1.3em;
        text-align: center;
    }

    .info-historia{
        font-size: .75em;
        margin-bottom: 5%;
        width: 100%;
    }

    .titulo-jugadores{
        font-size: 2em;
    }

    .container-jugadores{
        flex-direction: column
    }
    
    .container-cards{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .card-jugadores{
        width: 45%;
    }

    .item-card{
        font-size: .7em;
    }

    .titulo-contacto{
        font-size: 2em;
    }

    .item-form{
        width: 300px;
    }

    .textarea{
        min-height: 150px;
        height: 150px;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }

    .btn-form{
        width: 150px;
        font-size: .9em;
    }

    .container-footer{
        height: 150px;
    }

    .footer-socials{
        width: 25%;
    }

    .p-footer-socials{
        font-size: 1.3em;
    }

    .link-socials{
        font-size: 1.5em;
    }

    .footer-top{
        width: 50px;
        height: 50px;
    }

    .footer-top-arrow{
        font-size: 1.5em;
    }

    .footer-logo{
        width: 25%;
    }

    .img-logo-footer{
        width: 55px;
    }

    .p-logo-footer{
        font-size: .4em;
    }

    /* login */

    .register-form{
        width: 90%;
        height: auto;
    }

    .registro{
        height: auto;
    }

}


